# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# ClearCase
.copyarea.dat
.copyarea.db

#Others
.springbeans
**/node_modules

generated
licenses

